ThreadPoolLab/ThreadPoolLab/bin/
ThreadPoolLab/ThreadPoolLab/obj/
Mutex lab/Mutex lab/obj/
Mutex lab/Mutex lab/bin/
FileCopier/FileCopier/obj/
FileCopier/FileCopier/bin/
FileCopier/.vs/
Mutex lab/.vs/
